.main_card {
    height: 300px;
}

.main_card_ring {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 6px solid #0DBD0D;
    border-radius: 20px;
    margin: 20px 0px 10px 0px;
}

.main_img {
    height: 120px;
}

.like_img {
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    width: 23%;
    padding: 10px;
    cursor: pointer;
}

.description_card_main {
    width: 220px;
}

.description_card_price {
    display: flex;
}

.price_main {
    font-size: 24px;
    margin-left: 10px;
    margin-right: 20px;
    color: #0DBD0D;
}

.price_default {
    font-size: 15px;
    padding-top: 5px;
    margin-left: 0px;
    color: #9c9c9c;
}

.description_topi {
    width: 255px;
    font-size: 20px;
}

.description_topi p {
    width: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 930px) {
    .main_card {
        margin-left: auto;
    }
}

