* {
    margin: 0 auto;
    padding: 0;
}

.footer_main {
    width: 100%;
    height: auto;
    background-color: #1e1e1e;
    text-align: center;
}

.footer_main p {
    color: white;
    text-align: left;
}

.footer_dop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    width: 100%;
}

.footer_text_up {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 28px;
}

.footer_info_dop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    padding-bottom: 30px;
}

.footer_number {
    margin-left: 50px;
}

.footer_copyright {
    margin-right: 50px;
}

.footer_dop_text p {
    text-align: left;
    padding: 5px;
}

.footer_logo {
    max-width: 250px;
    margin-top: 20px;
}

.footer_content_dop p {
    color: #0DBD0D;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social_media {
    display: flex;
    text-align: center;
    justify-content: center;
}

.social_media img {
    cursor: pointer;
    width: 48px;
}

.link {
    text-decoration: none;
}

.scrollToTopImg img {
    margin-top: 20px;
    width: 50px;
}

@media only screen and (max-width: 930px) {
    .footer_dop {
        grid-template-columns: 1fr 1fr;
    }

    .footer_topitopi {
        margin-left: 30px;
    }

    .footer_content_dop {
        grid-column: 1/3;
    }
}