.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: var(--style_main);
}

.main_content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

.dop_info {
    margin-left: 15px;
}

.dop_big_text {
    font-size: 26px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.dop_text p {
    padding-top: 10px;
}

.underline_like {
    text-decoration: underline;
}

.link {
    text-decoration: none;
}

.likes {
    margin-left: 0px;
}

.like_main {
    display: flex;
    padding-top: 15px;
    font-size: 26px;
    padding-left: 10px;
}

.main_info_like {
    width: 300px;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    font-size: 22px;
    margin-left: 0px;
}

.main_info_like p {
    margin-left: 10px;
}

.card_like {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    margin-top: 20px;
}

.main_card_ring {
    position: relative;
    width: 300px;
    height: 240px;
    border: 8px solid #0DBD0D;
    border-radius: 20px;
    margin-bottom: 15px;
}

.grid_likes_item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 20px;
}

.main_card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 100%;
}

.main_img {
    width: 110px;
}

.like_img {
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    width: 18%;
    padding: 10px;
    cursor: pointer;
}

.description_card_price {
    display: flex;
}

.price_main {
    font-size: 26px;
    color: #0DBD0D;
    margin-left: 20px;
    margin-right: 20px;
}

.price_default {
    margin-left: 0px;
    padding-top: 5px;
    color: #9C9C9C;
}

.description_topi {
    width: 255px;
    font-size: 22px;
    margin-left: 0px;
}

.description_topi p {
    margin-bottom: 10px;
    margin-left: 20px;
}

.button_busket_main {
    width: 300px;
    text-align: center;
}

.button_busket {
    width: 200px;
    height: 35px;
    border-radius: 12px;
    background-color: #0DBD0D;
    font-size: 20px;
    border: 0px;
    color: white;
    margin-bottom: 40px;
}

.no_likes_message {
    width: 400px;
    margin-left: 10px;
    font-size: 28px;
    color: #0DBD0D;
}

/* Пользователь не авторизован */

.isAuthMain {
    min-height: 100vh;
    max-width: var(--style_main);
}

.isAuthMain_block {
    width: 550px;
    height: 160px;
    margin-left: 14px;
}

.btn_like_form {
    margin-top: 20px;
}

.btn_come {
    width: 120px;
    height: 30px;
    font-size: 18px;
    color: white;
    background-color: #0DBD0D;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.like_clear {
    color: #0DBD0D;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.recommend_topi {
    font-size: 30px;
    margin-left: 12px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1800px) {
    .card_like {
        grid-template-columns: repeat(3, 1fr);
    }
    .dop_info {
        margin-left: 65px;
    }

    /* Пользователь не авторизован */

    .isAuthMain_block,
    .recommend_topi {
        margin-left: 75px;
    }
}

@media only screen and (max-width: 1400px) {
    /* Пользователь не авторизован */

    .isAuthMain_block,
    .recommend_topi {
        margin-left: 65px;
    }
}

@media only screen and (max-width: 1240px) {
    .card_like {
        grid-template-columns: repeat(2, 1fr);
    }

    .likes {
        margin-left: auto;
    }

    /* Пользователь не авторизован */
    
    .isAuthMain_block, .recommend_topi {
        margin-left: 50px;
   }
}

@media only screen and (max-width: 1100px) {
    
    .dop_info {
        margin-left: 42px;
    }

    .main_card_ring {
        width: 260px;
        height: 200px;
        border: 6px solid #0DBD0D;
    }
    
    .main_card_img {
        width: 260px;
        height: 190px;
    }
    
    .main_img {
        width: 100px;
    }
    
    .like_img {
        width: 20%;
    }
    
    .description_card_price {
        display: flex;
    }
    
    .price_main {
        font-size: 24px;
    }
    
    .price_default {
        font-size: 14px;
        padding-top: 6px;
    }
    
    .description_topi {
        font-size: 22px;
    }
    
    .button_busket_main {
        width: 260px;
    }
    
    .button_busket {
        width: 160px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 930px) {

    .card_like {
        grid-template-columns: repeat(2, 1fr);
    } 

    .dop_big_text {
        font-size: 24px;
    }

    .dop_text {
        font-size: 14px
    }

    .like_main {
        font-size: 24px;
    }

    .main_info_like {
        font-size: 20px;
    }

    .main_card_ring {
        width: 200px;
        height: 160px;
        border: 5px solid #0DBD0D;
    }
    
    .main_card_img {
        width: 180px;
        height: 150px;
    }
    
    .main_img {
        width: 80px;
    }
    
    .like_img {
        width: 24%;
    }
    
    .price_main {
        font-size: 18px;
        margin-left: 10px;
    }
    
    .price_default {
        font-size: 10px;
        padding-top: 5px;
    }
    
    .description_card_price {
        width: 200px;
    }

    .description_topi {
        width: 200px;
        font-size: 16px;
    }

    .description_topi p {
        margin-left: 10px;
    }
    
    .button_busket_main {
        width: 200px;
    }
    
    .button_busket {
        width: 120px;
        height: 30px;
        font-size: 16px;
    }

    /* Пользователь не авторизован */

    .isAuthMain_block, .recommend_topi {
        margin-left: 38px;
   }
}