.container_slider {
    width: 1030px;
    height: 330px;
    position: relative;
    overflow: hidden;
    background-color: #1e1e1e;
    border-radius: 20px;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active_animation {
    opacity: 1;
}

.btn_slide {
    width: 60px;
    height: 60px;
    position: absolute;
    background: none;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn_slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
}

.next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
}

@media only screen and (max-width: 1800px) {
    .container_slider {
        width: 780px;
        height: 280px;
        position: relative;
        overflow: hidden;
        background-color: #1e1e1e;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 1400px) {
    .container_slider {
        width: 700px;
        height: 220px;
    }
}

@media only screen and (max-width: 1240px) {
    .container_slider {
        width: 600px;
        height: 200px;
    }
}

@media only screen and (max-width: 1100px) {
    .container_slider {
        width: 500px;
        height: 180px;
    }
}

@media only screen and (max-width: 930px) {
    .container_slider {
        width: 600px;
        height: 250px;
    }
}