.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: var(--style_main);
}

.main_content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

.dop_info {
    margin-left: 15px;
}

.dop_big_text {
    font-size: 26px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.dop_text p {
    padding-top: 10px;
}

.topiares {
    display: flex;
    width: 100%;
    height: auto;
    border: 8px solid #0DBD0D;
    border-radius: 20px;
    margin-top: 15px;
}

.image_description {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.topiary_description {
    margin: 50px 0px 95px 20px;
    font-size: 20px;
}

.topiary_description_main {
    font-size: 26px;
}

.topiary_description p:not(:first-of-type) {
    padding-top: 20px;
}

.name_topi {
    font-size: 46px;
    margin-bottom: 20px;
}

.total_availability {
    display: flex;
    margin-left: 0px;
}

.total, .аvailability  {
    font-size: 28px;
    margin-top: 40px;
    margin-left: 20px;
}

.prices {
    display: flex;
    justify-content: center;
    text-decoration: line-through;
    color: #9C9C9C;
    font-size: 20px;
    margin-top: 10px;
}

.total_text {
    display: flex;
    justify-content: center;
    color: #0DBD0D;
    font-size: 24px;
}

.button_topi_main {
    text-align: center;
}

.button_topi {
    width: 250px;
    height: 45px;
    border-radius: 12px;
    background-color: #0DBD0D;
    font-size: 20px;
    border: 0px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.total_main {
    display: flex;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 250px;
    height: 45px;
    border: 4px solid #0DBD0D;
    border-radius: 15px;
}

.link {
    text-decoration: none;
}

/* Карточка */

.topiary_image {
    margin: 50px 0 50px 50px;
}

.main_card_ring {
    position: relative;
    width: 580px;
    height: 520px;
    border: 8px solid #0DBD0D;
    border-radius: 20px;
    margin-left: 0px;
}

.main_card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main_img {
    height: 350px;
}

.like_img {
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    width: 20%;
    padding: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 1800px) {
    .dop_info {
        margin-left: 70px;
    }

    .total_availability {
        margin-top: 40px;
    }
    
    .main_card_ring {
        width: auto;
        height: 400px;
    }

    .topiary_description {
        margin: 35px 0px 0px 20px;
    }

    .topiares {
        width: 1000px;
    }

    .аvailability, .total {
        margin-top: 10px;
    }

    .аvailability p {
        font-size: 20px;
    }

    .prices {
        margin-top: 0px;
    }

    .total_main, .button_topi {
        width: 200px;
        height: 40px;
        font-size: 19px;
    }
}

@media only screen and (max-width: 1400px) {
    .topiares {
        width: 900px;
    }

    .total_main, .button_topi {
        width: 180px;
        height: 38px;
        font-size: 18px;
    }

    .prices {
        font-size: 16px;
    }

    .аvailability p {
        font-size: 16px;
        text-align: center;
    }
}

@media only screen and (max-width: 1240px) {
    .topiares {
        width: 800px;
    }

    .main_card_ring {
        width: 280px;
        height: 400px;
    }

    .image_description {
        grid-template-columns: 1fr 2fr;
    }

    .main_img {
        height: 300px;
    }

    .dop_info {
        margin-left: 65px;
    }
}

@media only screen and (max-width: 1100px) {
    .topiares {
        width: 700px;
        margin-bottom: 40px;
    }

    .main_card_ring {
        width: 400px;
        height: 400px;
    }

    .image_description {
        display: flex;
        flex-direction: column;
    }

    .topiary_image {
        margin: 30px auto;
    }

    .topiary_description {
        margin: 0px 0px 0px 10px;
    }

    .total_availability {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 930px) {
    .topiares {
        width: 420px;
        margin-bottom: 40px;
    }

    .main_card_ring {
        width: 320px;
        height: 320px;
    }

    .image_description {
        display: flex;
        flex-direction: column;
    }

    .topiary_description {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .total {
        margin-left: 5px;
    }
}