.main_card_ring {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
    border: 8px solid #0DBD0D;
    border-radius: 20px 20px 0px 0px;
}

.main_card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;    
}

.main_img {
    width: 105px;
}

.like_img {
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    width: 18%;
    padding: 10px;
    cursor: pointer;
}

.description_card_main {
    background-color: #0DBD0D;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
}

.description_card_price {
    display: flex;
}

.price_main {
    font-size: 26px;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}

.price_default {
    margin-left: 0px;
    padding-top: 5px;
    color: #4F4F4F;
}

.description_topi {
    width: 255px;
    font-size: 22px;
    margin-left: 20px;
}

.description_topi p {
    margin-bottom: 10px;
    color: white;
}

.button_hits_main {
    width: 300px;
    text-align: center;
}

.button_hits {
    width: 200px;
    height: 35px;
    border-radius: 12px;
    background-color: #0DBD0D;
    font-size: 20px;
    border: 0px;
    color: white;
    margin-bottom: 30px;
}


@media only screen and (max-width: 1100px) {
    .main_card_ring {
        width: 260px;
        height: 200px;
        border: 6px solid #0DBD0D;
    }
    
    .main_img {
        width: 95px;
    }
    
    .like_img {
        width: 20%;
    }
    
    .description_card_main {
        width: 260px;
    }
    
    
    .price_main {
        font-size: 24px;
    }
    
    .price_default {
        font-size: 14px;
        padding-top: 6px;
    }
    
    .description_topi {
        width: 220px;
    }
    
    .button_hits_main {
        width: 260px;
    }
    
    .button_hits {
        width: 160px;
        font-size: 18px;
    }
}