* {
    margin: 0 auto;
    padding: 0;
}

.footer_main {
    width: 100%;
    height: 300px;
    background-color: #1e1e1e;
    text-align: center;
}

.footer_main p {
    color: white;
}

/* module css ПОСМОТРИ */



