.main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2.67fr;
    min-height: 100vh;
}

.dop_big_text {
    font-size: 26px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.dop_text p {
    padding-top: 10px;
}

.underline_like {
    text-decoration: underline;
}

.link {
    text-decoration: none;
}

.likes {
    margin-left: 20px;
}

.like_main {
    padding-top: 15px;
    font-size: 26px;
    padding-left: 10px;
}

.main_info_like {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 0.2fr 1fr;
    font-size: 22px;
}

.main_info_like p {
    margin-left: 10px;
}

.card_like {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-top: 20px;
}