.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: var(--style_main);
}

.main_content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

.dop_big_text {
    font-size: 26px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.dop_text p {
    padding-top: 10px;
}

.orders {
    margin-left: 20px;
}

.order_main {
    display: flex;
    padding-top: 15px;
    font-size: 26px;
    padding-left: 10px;
}

.main_info_order {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 0.4fr 1.4fr;
    font-size: 22px;
}

.main_info_order p {
    margin-left: 10px;
}

.underline_order {
    text-decoration: underline;
}

.link {
    text-decoration: none;
}

.orders_contents {
    margin-top: 20px;
    margin-left: 10px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 6px solid #0DBD0D;
    margin-bottom: 30px;
}

.contents_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content_text {
    margin-left: 15px;
}

.order_data {
    margin-top: 15px;
    font-size: 26px;
    color: #0DBD0D;
}

.status {
    display: flex;
    align-items: center;
    width: 170px;
    background: #0DBD0D;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 0px;
}

.status img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.status p {
    margin-left: 0px;
}

.number_order_text {
    margin-top: 10px;  
    margin-left: 2px; 
    margin-bottom: 10px;
}

.date_order_text {
    margin-top: 4px;
    font-size: 13px;
}

.text_order {
    font-size: 18px; 
    margin-left: 2px; 
}

.number_order {
    width: 220px;
    background: #0DBD0D;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 12px;
    margin-left: 0px;
    padding: 5px 0px 5px 10px;
}

.number_order p {
    margin-top: 2px;
}

.footer_text_order {
    width: 45%;
    display: flex;
    margin-left: 8px;
    font-size: 12px;
    margin-bottom: 10px;
}