.main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2.67fr;
    min-height: 100vh;
    margin-top: 60px;
}

.dop_big_text {
    font-size: 26px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.dop_text p {
    padding-top: 10px;
}

.profile {
    margin-left: 20px;
}

.profile_main {
    padding-top: 15px;
    font-size: 26px;
    padding-left: 10px;
}

.content_profile {
    width: 800px;
    height: 700px;
    border-radius: 20px;
    border: 6px solid #0DBD0D;
    margin: 20px 0px 50px 0px;
}

.form_profile {
    margin: 30px 0px 0px 30px;
}

.form_profile p {
    font-size: 20px;
    margin-top: 20px;
}

.main_text_form {
    width: 260px;
    height: 34px;
    font-size: 16px;
    border: 3px solid #0DBD0D;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.content_gender {
    display: flex;
    float: left;
    margin-top: 4px;
    text-align: center;
    font-size: 20px;
    justify-content: center;
}

.content_gender_dop span {
    margin-right: 35px;
    align-items: center;    
}


.content_gender_dop input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.content_gender_dop span {
    position: relative;
    display: flex;
    justify-content: center;
}

.content_gender_dop span::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #0DBD0D;
    border-radius: 100%;
    margin-right: 5px;
}

.content_gender_dop span::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 3px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #0DBD0D;
    opacity: 0;
}

.content_gender_dop input[type="radio"]:checked + span::after {
    opacity: 1;
}

u {
    text-decoration: none;
    border-bottom: 2px solid #0DBD0D;
}

.link_profile {
    text-decoration: none;
    color: #0DBD0D;
}

.text_agreement_policy {
    margin-top: 20px;
}

.custom_checkbox {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 3px solid #0DBD0D;
    vertical-align: sub;
    border-radius: 6px;
    margin-right: 5px;
}

.custom_checkbox::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../img/checkmark.png");
    background-size: contain;
    transition: 0.2s ease-in;
}

.main_checkbox:checked + .custom_checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.main_checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.btn_profile {
    margin-top: 20px;
}

.btn_save_info {
    width: 250px;
    height: 35px;
    font-size: 20px;
    color: white;
    background-color: #0DBD0D;
    border: none;
    border-radius: 8px;
}