.slider {
    width: 800px;
    height: 280px;
    position: relative;
    overflow: hidden;
}

.slider_img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0px;
    transition: opacity 0.5 ease;
}

.slider_img.active {
    opacity: 1;
}

.slider img {
    position: absolute;
    z-index: 1;
}

.prev, .next {
    width: 35px;
    top: 44%;
}

.next {
    left: 20px;
}

.prev {
    right: 20px;
}